# Node / Backend
backend/node_modules
backend/.env

# Flutter / Frontend
frontend/build
frontend/.dart_tool
frontend/.idea
frontend/.metadata
frontend/.packages
frontend/android/.gradle
frontend/android/local.properties
frontend/ios/Pods

# OS files
.DS_Store
Thumbs.db
